@model List<StudentsMine.Models.CreateStudentView>
@{
    ViewBag.Title = "Register";
}
<script src="/Scripts/duplicator.js"> </script>
<script src="/Scripts/createStudent.js"> </script>
<style>
    .dublicate-data-group {
        display: inline-block;
        width: 350px;
        padding: 10px;
        margin: 5px;
        box-shadow: 8px 9px 20px 0px #6960602e;
        border-radius: 3px;
    }
    .error-message{
        text-align:center;
    }

    .create-students-block {
        background-color:white;
        width: 1125px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
        height: 550px;
        overflow: auto;
    }
</style>
@*<h2>@ViewBag.Title.</h2>*@

<div style=" top: 50%; transform: translateY(-50%); position: relative;">
    <div class="form-horizontal create-students-block">

        @Html.AntiForgeryToken()


        @Html.ValidationSummary()
        @Html.Hidden("courseId")
        <div class="dublicate-data-group" index='0'>
            <input name="[0].model%UIId" class="data-field data UIId" hidden />
            <div class="form-group">
                <label class="col-md-2 control-label">
                    User Name
                </label>
                <div class="col-md-10">
                    <input name="[0].model%UserName" class="form-control data-field data" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Email
                </label>
                <div class="col-md-10">
                    <input name="[0].model%Email" class="form-control data-field data" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Name
                </label>
                <div class="col-md-10">
                    <input name="[0].model%Name" class="form-control data-field data" />
                </div>
            </div>
            <div class="error-message">

            </div>
        </div>
        
    </div>
    <div class="btn btn-default" onclick="createStudents(@ViewData["courseId"] , 'CreateStudent')">Create students</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
