@model StudentsMine.Models.HomeWork

@{
    ViewBag.Title = "AddHomeWork";
}
<script src="/Scripts/duplicator.js"> </script>
<script src="/Scripts/inputSerializer.js"> </script>
<script>
    var json;
    $(document).ready(function () {
        var counterInput = $('#counterListener')[0]
        counterInput.onclick = function () {
            console.log("sadasdas")
            if (trigers.length-1 == attachmetsCounter) {
                json = test();
                adddHomeWorck();
            }
        }

    })

    var data_field = new Duplicator("dublicate-data-group", "data-field", "formClick");
    var attachmetsCounter = 0;
    function rebuildFiles() {
        var counterInput = $('#counterListener')[0]
        var fileInputs = $('input[type=file]')
        if (fileInputs.length == 1) {
            json = test();
            adddHomeWorck();
        }else{
        fileInputs.each(function (index, node) {
            if (node.files[0] != undefined) {
                var name = document.createElement('input');
                var dataBase64 = document.createElement('input');
                var format = document.createElement('input');
                var reader = new FileReader();
                reader.readAsDataURL(node.files[0])
                reader.onload = function () {
                    name.value = node.files[0].name;
                    dataBase64.value = reader.result;
                    format.value = node.files[0].type;
                    attachmetsCounter++;
                    counterInput.value = attachmetsCounter;
                    counterInput.click();
                }
                name.setAttribute('class',  'data');
                dataBase64.setAttribute('class', 'data');
                format.setAttribute('class', 'data');

                name.setAttribute('name', node.name + '%Name');
                dataBase64.setAttribute('name', node.name + '%DataBase64');
                format.setAttribute('name', node.name + '%Format');
                name.hidden = true;
                dataBase64.hidden = true;
                format.hidden = true;
                node.appendChild(name);
                node.appendChild(dataBase64);
                node.appendChild(format);
            }
        })
        }
    }

    function adddHomeWorck() {
        $.ajax({
            url: "/Cource/AddHomeWork?courseId="+$('input[name=id]')[0].value,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ 'homeWork': json }),
            success: function (data) {
                console.log(data)
            }
        })
    }

    function sendAction() {
        rebuild()
        rebuildFiles()
    }

    function conditionStatusChange(condition) {
        if (condition.checked == true) {
            $("#condition").slideDown(300);
        } else {
            $("#condition").slideUp(300);
        }
    }
</script>
@using (Html.BeginForm("AddHomeWork", "Cource", new { courseId = ViewBag.CourceId }, FormMethod.Post, new { id = "form" }))
{
    
    <div class="form-horizontal">
        <input name="id" value="@ViewBag.CourceId" hidden />

        <h4>HomeWork</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="data" name="Title" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="data" name="Description" ></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasCondition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="checkbox" onchange="conditionStatusChange(this)" class="data" name="HasCondition" />
            </div>
        </div>

        <div id="condition">
            
            <div class="form-group">
                <b class="control-label col-md-2">Until</b>
                @*@Html.LabelFor(model => model.Condition.Until, new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input type="date" class="data" name="Condition%Until" />
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Condition.HasRequiredFormat, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="checkbox" class="data" name="Condition%HasRequiredFormat" disabled />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Condition.RequiredFormat, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="data" name="Condition%RequiredFormat" disabled />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Attachments, new { @class = "control-label col-md-2" })
            <div class="col-md-10 dublicate-data-group" index="0">
                <input type="file" name="[0].Attachments" class="data-field" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" onclick="sendAction(); return false;" class="btn btn-default" id="formClick">Add home work</a>
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}
<form id="form1"></form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<input id="counterListener" hidden type="number">


