@model IEnumerable<StudentsMine.Models.Course>

@{
    ViewBag.Title = "Index";
}
<div class="course-index">
    <p>
        @Html.ActionLink("Create New", "AddCource")

    </p>
    <div class="content-block">
        @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
            <a href="@Url.Action("Course", new { courseId = item.Id })">
                <div class="course">

                    <h3>
                        @Html.DisplayFor(modelItem => item.Name)
                    </h3>
                    <i>
                        @if (item.Description.Length > 30)
                        {

                            @String.Concat(item.Description.Substring(0, 40), "...")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                    </i>

                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Course", new { courseId=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                </div>
            </a>
        }
    </div>
</div>
@*</table>*@
