<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
    <link href="/Content/toastr.css" rel="stylesheet" />
    <script src="/Scripts/toastr.js"></script>
    <script src="/Scripts/inputSerializer.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>    
    <script>
        var app = angular.module('studentsMine', ['ngAnimate']);
    </script>
</head>
<body>
    @*<div id="body-bg">
        <div id="bg-img-1"></div>
        <div id="bg-img-2"></div>
    </div>*@
    <div ng-app="studentsMine">
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_LoginPartial")
        }
        <div class="container body-content">
            @RenderBody()
        </div>
        <script src="/Scripts/multypage.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script>

            app.controller('ordersCtrl', function ($scope, $http, $rootScope) {
                $scope.ordersLen = 0;
                $http({
                    method: "GET",
                    url: "/Cource/OrdersToCource"
                }).then(function (result) {
                    console.log(result)
                    $rootScope.orders = result.data
                })

                $scope.successOrder = function (id, item, eventCaller) {
                    $http({
                        method: "POST",
                        url: "/Cource/SuccessToOrder?orderId=" + id
                    }).then(function (result) {
                        var index = $scope.orders.indexOf(item);
                        console.log(item);
                        $rootScope.orders.splice(index, 1);
                    })
                }

                $scope.rejectOrder = function (id, item, eventCaller) {
                    $http({
                        method: "POST",
                        url: "/Cource/RejectOrderToCourse?orderId=" + id
                    }).then(function (result) {
                        var index = $scope.orders.indexOf(item);
                        $rootScope.orders.splice(index, 1);
                    })                }
            })
        </script>
    </div>
</body>
</html>
